h1 
  | Reviews
  span(style='color:green;') ->
p Recent List of NodeJs Module Reviews
form.well(method='get', action='/reviews/search')
  p
    input.input-medium.search-query(name="module", type='text', style="width:60%", placeholder='find review by module')
    | &nbsp;&nbsp;
    button.btn(type='submit') Search
    | &nbsp;&nbsp;
    a.btn.btn-primary(href="/reviews/new") New
ul(style='list-style:none;')
  each review in reviews
    li
      .row(style="margin-bottom: 10px;")
        .span1
          img(src=review.authorImageUrl, style="padding: 20px;max-width: 80%;")
        .span6 
          span(style='float: right;')
            = review.timeAgo()
          .review-header
            h3: a(href="/reviews/#{review.link()}") #{review.module} reviewed by #{review.author}
          .review-contents.well 
            !{review.html()}
