div(style="float: right;")
  img(src=review.authorImageUrl)
h2 
  | Review for #{review.module}
  span(style="font-size: .6em;")
    if review.canEdit(email)
      a(href="/reviews/#{review.link()}/edit") Edit
      | &nbsp;
    if review.canDelete(email)
      a(href="#", data-delete="#review") Delete
      form(id="review", action="/reviews/#{review.link()}", method="POST")
        input(type='hidden', name="_method", value="delete")

h3 By #{review.author}
h3 #{review.timeAgo()}
hr
.row
.span3
  img(src=review.memeUrl, style="max-width:100%")
.span4
  .review !{review.html()}
